<h1>Editing target</h1>

<%= render 'form' %>

<!-- /projects/:project_id/targets/:id -->
<%= link_to 'Show', @target %> |
<!-- /projects/:project_id/targets/ -->
<%= link_to 'Back', project_path(@target.project) %>